<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cold_guard"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/cold_guard_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_UI"
        tools:targetApi="31">
        <activity
            android:screenOrientation="portrait"
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount" android:label="createAccount" android:screenOrientation="portrait"/>
        <activity android:name=".AddItemDialog" android:label="Add Item" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".FilterCheck" android:screenOrientation="portrait"/>
        <activity android:name=".IdFind" android:label="idFind" android:screenOrientation="portrait"/>
        <activity android:name=".PwFind" android:label="pwFind" android:screenOrientation="portrait"/>
        <activity android:name=".SettingLeaderVer" android:label="SettingLeader" android:screenOrientation="portrait"/>
        <activity android:name=".SettingAlarm" android:label="settingAlarm" android:screenOrientation="portrait"/>
        <activity android:name=".SettingAnnounce" android:screenOrientation="portrait"/>
        <activity android:name=".MainPage" android:label="mainPage" />
        <activity android:name=".MainPageTab" android:screenOrientation="portrait"/>
        <activity android:name=".MainPageFrag" android:screenOrientation="portrait"/>
        <activity android:name=".MainPageFrag2" android:screenOrientation="portrait"/>
        <activity android:name=".MainPageFrag3" android:screenOrientation="portrait"/>
        <activity android:name=".RefrigeratorFoodFilterDialog" android:label="refrigeratorFoodFilterDialog" android:screenOrientation="portrait"/>
        <activity android:name=".PwChange" android:screenOrientation="portrait"/>
        <activity android:name=".ProfileSelect" android:screenOrientation="portrait"/>
        <activity android:name=".CamBarcode" android:screenOrientation="portrait"/>
        <activity android:name=".CamExpirationdate" android:screenOrientation="portrait"/>
    </application>

</manifest>