<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cold_guard"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cold_guard_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_UI"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount" android:label="createAccount"/>
        <activity android:name=".AddItemDialog" android:label="Add Item">

        </activity>
        <activity android:name=".FilterCheck" />
        <activity android:name=".IdFind" android:label="idFind"/>
        <activity android:name=".PwFind" android:label="pwFind"/>
        <activity android:name=".SettingLeaderVer" android:label="SettingLeader" />
        <activity android:name=".SettingAlarm" android:label="settingAlarm" />
        <activity android:name=".SettingAnnounce" />
        <activity android:name=".MainPage" android:label="mainPage" />
        <activity android:name=".main_page_tab" />
        <activity android:name=".main_page_frag" />
        <activity android:name=".main_page_frag2" />
        <activity android:name=".main_page_frag3" />
        <activity android:name=".RefrigeratorFoodFilterDialog" android:label="refrigeratorFoodFilterDialog"/>
        <activity android:name=".PwChange" />
        <activity android:name=".ProfileSelect" />
        <activity android:name=".CamBarcode" />
        <activity android:name=".CamExpirationdate" />
    </application>

</manifest>